[Desktop Entry]
Type=Application
Exec=imwheel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=mouse speed
Name=mouse speed
Comment[en_US]=
Comment=
