[Desktop Entry]
Type=Application
Exec=terminology
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminology
Name=terminology
Comment[en_US]=
Comment=
