/* tEmacs
# Auteurs - Authors : 	Philippe ROY <ph_roy@yahoo.com> + Yeupou <yeupou@altern.org>
# Michal Suchanek <hramrach@centrum.cz> : slight modification to selection to work with gtk 2.0

# #2f4f4f : darkgreen
# #366462 : darkgreen clair
# #172a29 : darkgreen foncé

# #f5deb3 : weat
# #d2b48c : tan

# #298952 : vert très clair
# #526929 : olive
# #6a997b : vert clair

# #3b5654 : gris

# #ffc2cd : rose
# #d5a2ab : rose foncé
# #de71d5 : mauve clair
*/

* /*default*/ {

  -GtkWidget-link-color: #f5cfb3 ;
  -GtkWidget-visited-link-color: #f5deb3 ;

  /* Pidgin */
  -GtkIMHtml-hyperlink-color: #f5cfb3 ;
  -GtkIMHtml-hyperlink-visited-color:  #f5deb3 ;
  -GtkIMHtml-hyperlink-prelight-color: #f5cfb3 ;

  /* Evolution */
  -GtkHTML-link_color: #f5cfb3 ;
  -GtkHTML-vlink_color: #f5deb3 ;
  -GtkHTML-cite_color: #f5cfb3 ;


  /*
# font : adobe-helvetica-normal-r-normal--12-*-*-*-*-*-*-*
# base, text, bg, fg are possible
*/

  /*border-color	: #f5deb3 ;*/
  color		: #f5deb3 ;
  background-color: #2f4f4f ;
  border-color: #243434 ;
}

.button, .entry, .slider { border-width: 1 ; /* border-radius : 10 ; */}

tab, tab:hover, .entry, .view {
background-color		: #366462 ;
  border-color: #243434 ;
}

tab:insensitive {
  background-color: #3b5654 ;
}

tab:selected {
  background-color: #2a4747 ;
  border-color		: #f5deb3 ;
}

tab:active {
  background-color: #2f4f4f ;
}


*:insensitive {
  /*border-color	: #3b5654 ; */
  background-color: #3b5654 ;
  color: #526929 ;
}

*:hover {
  color		: #f5deb3 ;
  border-color	: #425421 ;
  background-color: #526929 ;
}

*:selected {
  color		: #f5deb3 ;
  background-color: #2a4747 ;
}

*:active {
  color		: #f5cfb3 ;
  background-color: #2f4f4f ;
}

